body {
    font-family: 'Rubik', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3, label, p, button, textarea, input {
    font-family: 'Rubik', Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: rgb(104, 252, 220);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

textarea {
    width: 97%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: auto;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
}

h2.image-id {
    text-align: right;
    margin-top: 0;
}

h3 {
    font-size: 16px;
    margin-top: 7px;
    font-weight: lighter;
}

input[type="text"],
input[type="url"] 
{
    width: 97%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: auto;
    font-size: 18px;
}

button {
    border: 0;
    margin-top: 25px;
    padding: 8px;
    background-color: #156918;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button:hover {
    background-color: #45a049;
}

#gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.white-background {
    background-color: #fff;
}